<section id="about">
  <div class="typo">
  <h2 class="wow headline" data-wow-offset="50">About</h2>
  <div class="content">
    <h3>My beginnings</h3>
    <p>My passion for Webdesign started 1999 as an 16 year old and taught myself Photoshop, ImageReady HTML as also CSS.<br />
      Back in the day i was also into Dark Art Photomanipulation and Iconing and did that in several Communities.<br />
      With that accumulated knowledge i was able to transition from my Salesman Background to my first Job in an Agency.</p>

      <h3>nowadays</h3>
      <p>My passion for Webdesign started 1999 as an 16 year old and taught myself Photoshop, ImageReady HTML as also CSS.<br />
        Back in the day i was also into Dark Art Photomanipulation and Iconing and did that in several Communities.<br />
        With that accumulated knowledge i was able to transition from my Salesman Background to my first Job in an Agency.</p>
</div>
</div>
</section>