#about {
  min-height: 100vh;
  background-size: cover;
  background-image: url('../../assets/city.png');
  background-position-y: -400px;
  background-repeat: no-repeat;
  transition: background-position 1.4s ease-in-out;

  &.inscreen {
    background-position-y: 0;
  }

  @media screen and (min-width:720px) {
    .flex {
      display: flex;
      flex-wrap: nowrap;
      & > div {
        margin-right: 15px;
      }
    }
  
  }
}
