<section id="about">
  <div class="typo">
    <h2 class="wow headline" data-wow-offset="50">About</h2>
    <br />
    <div class="flex">
      <div>
        <h3 class="wow headline-2" data-wow-offset="50" data-wow-delay="0.2s">My beginnings</h3>
        <div class="content wow fadeIn">

          <p>My passion for Webdesign started 1999 as an 16 year old and taught myself Photoshop, ImageReady HTML as
            also CSS.<br />
            Back in the day i was also into Dark Art Photomanipulation and Iconing and did that in several
            Communities.<br />
            With that accumulated knowledge i was able to transition from my Salesman Background to my first Job in an
            Agency.</p>
        </div>
      </div>
      <div>
        <h3 class="wow headline-2" data-wow-offset="50" data-wow-delay="0.4s">nowadays</h3>
        <div class="content wow fadeIn">
          <p>My passion for Webdesign started 1999 as an 16 year old and taught myself Photoshop, ImageReady HTML as
            also CSS.<br />
            Back in the day i was also into Dark Art Photomanipulation and Iconing and did that in several
            Communities.<br />
            With that accumulated knowledge i was able to transition from my Salesman Background to my first Job in an
            Agency.</p>
        </div>
      </div>
    </div>

    <h3 class="wow headline-2" data-wow-offset="50" data-wow-delay="0.4s">Private stuff</h3>
        <div class="content wow fadeIn">
          <p>My passion for Webdesign started 1999 as an 16 year old and taught myself Photoshop, ImageReady HTML as
            also CSS.<br />
            Back in the day i was also into Dark Art Photomanipulation and Iconing and did that in several
            Communities.<br />
            With that accumulated knowledge i was able to transition from my Salesman Background to my first Job in an
            Agency.</p>
        </div>


  </div>
</section>