
/* SVG INTERACTIVE ICONS ============================================ */
.icon-wrapper {
  & .hex {
    transition: 0.3s ease-in-out;
		stroke-width: 0;
  }

  & .icon {
    transition: 0.15s ease-in-out;
  }

  & svg:hover {
    cursor: pointer;
   & .hex {
    fill: transparent;
    stroke: var(--color-content);
    stroke-width: 4;
   }

   & .icon {
    stroke: var(--color-content);
   }
  }
}

/* BUTTON ============================================ */
div.button {
	margin-bottom: 10px;
	padding: 10px 20px 10px 20px;
	color: var(--color-primary);
	text-decoration: none;
	text-transform: uppercase;
	width: 250px;
	text-align: center
}

div.button>input {
	background-color: transparent;	
	padding: 0;
	margin: 0;
	width: 100%
}

a.button {
	margin-bottom: 10px;
	padding: 10px 20px 10px 20px;
	color: var(--color-primary);
	text-decoration: none;
	text-transform: uppercase;
	width: 250px;
	text-align: center
}

.button {
  font-family: var(--font-primary);
  font-weight:bolder;
	display: inline-block;
	vertical-align: middle;
	transform: translateZ(0);
	box-shadow: 0 0 1px transparent;
	backface-visibility: hidden;
	position: relative;
	background: 0 0;
	transition-duration: .4s
}

.button:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: var(--color-primary);
	transform: scaleX(0);
	transform-origin: 50%;
	transition-duration: .4s;
	transition-timing-function: cubic-bezier(.66, .01, .25, 1);
}

.button:active,
.button:focus,
.button:hover {
	color: #000
}

.button:active:before,
.button:focus:before,
.button:hover:before {
	-ms-transform: scaleX(1);
	transform: scaleX(1)
}

.button .fa {
	margin-right: 15px
}
