.demo {
    height: 100vh;
    margin: 50px 100px;
    background: var(--bg-one);

}

h1, h2, h3, h4, h5 {
  font-family: 'Josefin Sans Variable', sans-serif;
  text-transform: uppercase;
  font-weight: bolder;

}


@keyframes headline {
    0% {
      background: transparent;
      color: transparent;
    }
    100% {
      background: transparent;
      box-shadow: inset 100vw 0 0 0 var(--color-primary);
      color: black;
    }
  }
  
  @keyframes headline-2 {
    0% {
      background: transparent;
      color: transparent;
    }
    100% {
      background: transparent;
      box-shadow: inset 100vw 0 0 0 #FD0000;
      color: black;
    }
  }

  .headline {
    animation: headline 1s ease forwards;
  }
  .headline-2 {
    animation: headline-2 1s ease forwards;
  }

.typo {
    margin-left: fluid(2.5rem, 4.5rem);
    margin-right: fluid(2.5rem, 4.5rem);

    .content {
      font-family: 'Kulim Park', sans-serif;
      padding: 1.5rem 1.5rem 0 1.5rem;
      font-size: 1.2rem;
      line-height: 1.6rem;
    }

    p {
      margin-bottom: 2.5rem;
    }
    h2 {
        font-size: fluid(2.5rem, 4rem);
        padding-top: fluid(0.5rem, 1rem);
        padding-left: fluid(0.4rem, 0.5rem);
        letter-spacing: fluid(-0.15rem, -0.15rem);
        background-color: var(--color-primary);
        box-sizing: border-box;
        color: black;
        margin-bottom: 20px;
        font-family: var(--font-primary);
        text-transform: uppercase;
        font-weight: bolder;
    }

    h3 {
        font-size: fluid(2.0rem, 3.0rem);
        padding-top: fluid(0.5rem, 0.9rem);
        padding-left: fluid(1.5rem, 2.5rem);
        letter-spacing: fluid(-0.15rem, -0.15rem);
        box-sizing: border-box;
        font-family: var(--font-primary);
        text-transform: uppercase;
        font-weight: bolder;
        color: black;
    }

    h4 {
        font-size: fluid(1.8rem, 2.5rem);
        padding-top: fluid(0.5rem, 0.8rem);
        padding-left: fluid(0.3rem, 0.5rem);
        box-sizing: border-box;
        font-family: var(--font-primary);
        text-transform: uppercase;
        font-weight: bolder;
        background-color: #FD0000;
        color: black;
    }


}
