:root {
    --bg-one:  #010409;
    --bg-two: #0D1117;
    --color-primary: #ffb600;
    --color-content: #fff;
    --color-content-2: #fff;
    --font-primary: 'Josefin Sans Variable', sans-serif;
}
