<!doctype html>
<html class="no-js" lang="de">
    <head>
        <meta charset="utf-8">
        
        <title>Thomas Petrovic - Friends call me Pete!</title>
        <meta name="description" content="">

        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
    <%= require('html-loader!./partials/Nav/Nav.html').default %>
    <%= require('html-loader!./partials/Header/Header.html').default %>

    <div>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    </div>
</body>
</html>

