<!doctype html>
<html class="no-js" lang="de">
    <head>
        <meta charset="utf-8">
        
        <title>Thomas Petrovic - Friends call me Pete!</title>
        <meta name="description" content="">

        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
    <%= require('html-loader!./partials/Nav/Nav.html').default %>
    <%= require('html-loader!./partials/Header/Header.html').default %>

    <section class="demo content" id="about">
        <h2>About</h2>
        <h3>Headline 3</h3>
        <h3 class="bg">Headline 3 BG</h3>
        <h4>Headline 4</h4>
        <h4 class="bg">Headline 4 BG</h4>
    </section>
    <section class="demo content" id="work">
        <h2>Work</h2>
        <h3>Headline 3</h3>
        <h3 class="bg">Headline 3 BG</h3>
        <h4>Headline 4</h4>
        <h4 class="bg">Headline 4 BG</h4>
    </section>
    <section class="demo content" id="projects">
        <h2 class="wow headline">projects</h2>
        <h3>Headline 3</h3>
        <h3 class="bg wow headline">Headline 3 BG</h3>
        <h4>Headline 4</h4>
        <h4 class="bg wow headline">Headline 4 BG</h4>
    </section>
    <section class="demo content" id="skills">
        <h2>skills</h2>
        <h3>Headline 3</h3>
        <h3 class="bg">Headline 3 BG</h3>
        <h4>Headline 4</h4>
        <h4 class="bg">Headline 4 BG</h4>
    </section>
    <section class="demo content" id="contact">
        <h2>contact</h2>
        <h3>Headline 3</h3>
        <h3 class="bg">Headline 3 BG</h3>
        <h4>Headline 4</h4>
        <h4 class="bg">Headline 4 BG</h4>
    </section>
</body>
</html>

