@import './variables.css';
@import './reset.css';
@import '@fontsource/alegreya-sans-sc';

html, body {
    background-color: var(--bg-one);
    color:white;
}

h1 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 30px;
}
